@font-face {
  font-family: "Open Sans";
  src: url(../Fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../Fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  color: inherit;
  text-decoration-line: none;
}

.header {
  width: 100%;
  background-image: url(../Image/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  padding: 25px 0 127px 0;
  margin-bottom: 55px;
}

.header::after {
  content: "";
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.header-content {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.logo-image {
  width: 180px;
  position: relative;
  z-index: 2;
}

.nav {
  display: flex;
  list-style: none;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-tablet {
  display: none;
}
.nav-list {
  font-size: 0.8125rem;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  text-transform: uppercase;
  margin-right: 35px;
}

.nav-list:last-child {
  margin-right: 0;
}

.nav-list:hover {
  text-decoration: underline;
}

.button-menu {
  display: none;
  z-index: 3;
}

.header-text {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 85px;
}

.header-text-content {
  max-width: 690px;
  font-family: "Open Sans";
  font-size: 2.825rem;
  line-height: 1.66;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  z-index: 2;
}

.page {
  width: 1200px;
  margin: 64px auto 63px auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
}

.main {
  width: 780px;
}

.news {
  display: flex;
  flex-direction: row;
  margin-bottom: 55px;
}

.news:last-child {
  margin-bottom: 0;
}

.news-image {
  width: 380px;
}

.news-content {
  margin-left: 30px;
}

.news-nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.news-list:last-child {
  margin-right: 0;
}

.news-list {
  text-decoration-line: none;
  font-size: 0.875rem;
  color: #b59f5b;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: uppercase;
  margin-right: 20px;
}

.news-list:hover {
  text-decoration: underline;
}

.news-title {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
  margin-bottom: 26px;
  text-transform: uppercase;
}

.news-title .link:hover {
  color: #b59f5b;
}

.news-info {
  display: flex;
  margin-bottom: 47px;
}

.news-date {
  font-size: 0.75rem;
  min-width: 80px;
  color: #888888;
  font-weight: 400;
  font-family: "Open Sans";
  margin-right: 13px;
}

.news-adress {
  font-size: 0.75rem;
  color: #000000;
  font-weight: 700;
  font-family: "Open Sans";
  min-width: 125px;
}

.news-text {
  font-size: 0.9375rem;
  line-height: 1.44;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "Open Sans";
}

.side-bar {
  width: 272px;
  margin-left: 120px;
  margin-top: -5px;
}

.side-bar__section {
  width: 100%;
  margin-bottom: 52px;
}

.side-bar__section:last-child {
  margin-bottom: 0;
}

.side-bar__section-name {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 26px;
  position: relative;
}

.side-bar__section-name::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 10px auto 0 auto;
}

.post {
  display: flex;
  margin-bottom: 18px;
}

.post:last-child {
  margin-bottom: 0;
}

.post-text {
  margin-left: 20px;
}

.post-title,
.post-date {
  color: #000000;
  font-family: "Open Sans";
}

.post-title {
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.post-date {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 5px;
  display: block;
}

.post-image {
  width: 70px;
}

.tags {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.tags-list {
  padding: 4px 13px;
  margin: 0 5px 5px 0;
  font-size: 0.75rem;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: uppercase;
  border: 3px solid #eeeeee;
}

.tags-list:last-child {
  margin-right: 0;
}

.tags-link {
  color: #0f0d0e;
  text-decoration-line: none;
}

.themes {
  list-style: none;
  font-size: 0.875rem;
  color: #000000;
  font-weight: 700;
  font-family: "Open Sans";
}

.themes-list {
  font-size: 0.875rem;
  color: #000000;
  font-weight: 700;
  font-family: "Open Sans";
  padding: 10px 0 10px 0;
  border-bottom: solid 1px #eeeeee;
}

.themes-list:first-child {
  padding-top: 0;
}

.form-search {
  display: flex;
  margin-bottom: 60px;
}

.form-search label {
  flex-grow: 1;
}

.themes-list-index {
  font-size: 0.75rem;
  color: #b59f5b;
  font-weight: 700;
  font-family: "Open Sans";
  vertical-align: super;
  margin-left: 7px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field-search,
.email {
  width: 100%;
  padding: 15px;
  font-size: 0.8125rem;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
  background-color: #f4f7f6;
  border: none;
  border-radius: 0;
}
.field-search,
.email,
button-email:focus {
  outline: none;
}
.button-search {
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  background-image: url(../SVG/search.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}

.button-email:hover,
.button-search:hover {
  background-color: #323232;
}

.button-email:active,
.button-search:active {
  border: groove #b59f5b;
}

.email {
  width: 100%;
  margin-bottom: 16px;
}

.button-email {
  width: 100%;
  background-color: #b59f5b;
  font-size: 0.875rem;
  padding: 16px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  border: none;
  text-transform: uppercase;
}
.field-search:focus,
.email:focus {
 outline: 1px solid #b59f5b;
 outline-offset: -1px;
}
.shop {
  width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 65px 15px;
  margin-left: auto;
  margin-right: auto;
}

.shop__body {
  display: flex;
}

.shop__title {
  margin-bottom: 26px;
}

.title {
  display: block;
  width: 100%;
  font-size: 1.23rem;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 10px auto 0 auto;
}

.shop-section {
  display: flex;
  flex-direction: column;
  width: calc((100% - 130px) / 3);
  margin-right: 65px;
  align-items: center;
}

.shop-section:last-child {
  margin-right: 0px;
}

.shop-section__picture {
  padding: 0 22px;
}

.shop-section__info-product {
  padding: 47px 19px 24px;
  border: 3px solid #b59f5b;
  margin-top: -34px;
  background: transparent;
  flex-grow: 1;
}

.info-product-title {
  display: block;
  text-align: start;
  font-size: 1.23rem;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
  margin-bottom: 4px;
  text-transform: uppercase;
}

.info-product-text {
  display: block;
  text-align: start;
  font-size: 0.9375rem;
  line-height: 1.46;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "Open Sans";
  margin-bottom: 20px;
}

.product-text-link {
  color: #c3b179;
  text-decoration: none;
}

.product-text-link:hover {
  text-decoration: underline;
}

.info-product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-product-footer__price {
  display: flex;
  flex-direction: column;
}

.old-price {
  font-size: 0.875rem;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
}

.new-price {
  font-size: 1.25rem;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
}

.info-product-footer__button {
  display: block;
  padding: 16px 30px;
  background-color: #b59f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Open Sans";
}

.info-product-footer__button:hover {
  background-color: #323232;
}

.footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 40px 15px;
}

.items {
  display: flex;
  width: 100%;
  background-color: #f4f7f6;
  justify-content: center;
  padding: 30px 0;
}

.social-icon-list {
  display: flex;
  flex-direction: row;
}

.icon-item {
  list-style: none;
  margin-right: 25px;
}

.icon-item:last-child {
  margin-right: 0;
}

.social-icon {
  display: block;
  width: 23px;
  height: 23px;
  background-size: cover;
  background-position: center center;
}

.social-icon__twitter {
  background-image: url(../SVG/004-twitter.svg);
}

.social-icon__pinterest {
  background-image: url(../SVG/001-pinterest.svg);
}

.social-icon__facebook {
  background-image: url(../SVG/002-facebook-logo.svg);
}

.social-icon__instagram {
  background-image: url(../SVG/005-instagram.svg);
}

.social-icon__tumblr {
  background-image: url(../SVG/003-tumblr.svg);
}

.visually-hidden-icon {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.copyright {
  font-size: 0.75rem;
  color: #999999;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
  margin-top: 72px;
}

.copyright:hover {
  text-shadow: initial;
}

.themes-list:hover,
.news-title:hover,
.post-title:hover {
  color: #b59f5b;
}

.tags-list:hover {
  border-color: #b59f5b;
}

.now-trending {
  width: 100%;
}

.now-trending__title {
  margin-bottom: 25px;
}

.now-trending__body {
  display: flex;
  justify-content: space-between;
}

.garden {
  background: url(../Image/trend/trend1.jpg);
}

.cheese {
  background: url(../Image/trend/trend2.jpg);
}

.mountains {
  background: url(../Image/trend/trend3.jpg);
}

.lemon {
  background: url(../Image/trend/trend4.jpg);
}

.now-trending__section {
  width: calc((100% - 24px) / 4);
  padding: 13px 22px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
}

.now-trending__section::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #000000;
  opacity: 0.6;
}

.now-trending__container {
  padding: 31px 28px;
  position: relative;
  z-index: 2;
  border: 3px solid #b59f5b;
}

.now-trending__text {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: uppercase;
}

.now-trending__text:hover {
  color: #b59f5b;
}
.feedback-page {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.feedback-page::after {
  content: "";
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.feedback-container {
  width: 390px;
  margin-top: 48px;
  z-index: 3;
}
.feedback-closed {
  background-image: url(../SVG/form-x.svg);
  box-sizing: content-box;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-bottom: 7px;
  margin-left: auto;
  cursor: pointer;
}
.feedback-form__title {
  margin-bottom: 22px;
  font-size: 1.125rem;
}
.feedback-form {
  padding: 50px 30px;
  background-color: #fff;
  font-size: 0.8125rem;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
}
.feedback-form__group {
  width: 100%;
  margin-bottom: 30px;
}
.feedback-form__group-label {
  margin-bottom: 10px;
  display: block;
}
.feedback-form__group:nth-last-child(n + 1) {
  margin-bottom: 25px;
}
.feedback-form__group:last-child {
  margin-bottom: 0;
}
.feedback-form__select {
  width: 100%;
  padding: 15px 20px;
  background-color: #f4f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../SVG/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 8px 16px;
  border: none;
  font-size: inherit;
  color: #919292;
  font-weight: 400;
  font-family: "Open Sans";
  border-radius: 0;
}
.feedback-form__select:focus {
  outline: 1px solid #b59f5b;
  background-color: #f4f7f6;
}
.feedback-form__checkbox {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
}
.feedback-form__checkbox-text {
  display: inline-block;
}
.feedback-form__checkbox-text:last-child {
  margin-right: 17px;
}
.feedback-form__checkbox-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url(../SVG/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  margin-right: 5px;
}
.feedback-form__checkbox:checked + .feedback-form__checkbox-text::before {
  background-image: url(../SVG/form-circle.svg);
}
.feedback-form__textarea {
  width: 100%;
  height: 130px;
  padding: 15px 20px;
  background-color: #f4f7f6;
  font-size: inherit;
  color: #919292;
  font-weight: 400;
  font-family: "Open Sans";
  resize: none;
  border: none;
  border-radius: 0;
}
.feedback-form__textarea:focus {
  outline: 1px solid #b59f5b;
  background-color: #f4f7f6;
}

/* разрешение - планшет */

@media screen and (min-width: 641px) and (max-width: 1199px) {
  html {
    font-size: 87.5%;
  }
  .header {
    background-image: url(../Image/banner-bg-tablet.jpg);
    padding: 44px 0 114px 0;
    margin-bottom: 44px;
  }
  .header-text-content {
    max-width: 605px;
    line-height: 1.4;
  }
  .logo-image {
    width: 158px;
    z-index: 5;
  }
  .header-content {
    width: 100%;
    padding: 0 35px;
  }
  .nav {
    display: none;
  }
  .button-menu {
    margin-top: 9px;
    display: block;
    position: relative;
    z-index: 5;
  }
  .button-menu__row {
    background-color: #fff;
    width: 23px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    z-index: 5;
  }
  .button-menu__row:last-child {
    margin-bottom: 0;
  }

  /* изменение*/
  .nav-tablet {
    display: none;
    text-align: center;
    list-style: none;
    z-index: 4;
    flex-direction: column;
    width: 100%;
    align-content: flex-end;
    transform: translate(0, -87px);
    position: relative;
    padding-top: 80px;
  }

  .nav-tablet::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 2;
  }
  .nav-list {
    padding: 15px 30px;
    border-bottom: 1px solid #b59f5b;
    z-index: 4;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 0;
    width: 100%;
  }
  .button-menu_mobile-active {
    display: block;
    position: relative;
    z-index: 5;
    align-self: flex-end;
    transform: rotate(90deg);
    margin-bottom: 0;
    align-self: flex-start;
    margin-top: 7px;
  }
  /* изменение*/
  .now-trending {
    margin-bottom: 53px;
  }
  .now-trending__title {
    margin-bottom: 17px;
  }
  .now-trending__body {
    display: flex;
    flex-wrap: wrap;
  }
  .now-trending__section {
    width: calc((100% - 5px) / 2);
    min-height: 245px;
  }
  .now-trending__section:nth-child(4n + 2),
  .now-trending__section:nth-child(4n + 1) {
    margin-bottom: 5px;
  }
  .page {
    width: 100%;
    padding: 0px 35px 0 35px;
    margin-bottom: 61px;
    margin-top: 0;
  }
  .news {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 3px #eeeeee solid;
    margin-bottom: 45px;
  }
  .news:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .news-image {
    margin-bottom: 13px;
    width: 100%;
  }
  .news-content {
    margin-left: 0;
  }
  .news-nav_tablet {
    margin-bottom: 7px;
  }
  .news-title {
    margin-bottom: 30px;
  }
  .news-info {
    margin-bottom: 28px;
  }
  .side-bar {
    margin-left: 35px;
    flex-shrink: 0;
    margin-top: 0;
  }
  .side-bar__section {
    margin-bottom: 60px;
  }
  .side-bar__section:nth-last-child(2) {
    margin-bottom: 50px;
  }
  .side-bar__section-name {
    margin-bottom: 31px;
    margin-top: -5px;
  }
  .side-bar__section:last-child .side-bar__section-name {
    margin-bottom: 22px;
  }
  .side-bar__section-name::after {
    margin-top: 9px;
  }
  .post {
    margin-top: 19px;
  }
  .post-text {
    margin-top: -3px;
  }
  .field-search,
  .email {
    width: 100%;
  }
  .email {
    margin-bottom: 11px;
  }
  .themes-list {
    padding: 13px 0 12px;
  }
  .shop {
    width: 100%;
    padding: 0 35px;
    margin-bottom: 50px;
  }
  .shop__body {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .shop-section {
    width: calc((100% - 25px) / 2);
    margin-right: 0;
  }
  .shop-section:nth-child(4n + 2),
  .shop-section:nth-child(4n + 1) {
    margin-bottom: 25px;
  }
  .shop-section__info-product {
    margin-left: auto;
    margin-right: auto;
    max-width: 345px;
    min-width: 242px;
  }
  .shop__image {
    width: 100%;
  }
  .footer {
    width: 100%;
    padding: 0 35px;
    margin-bottom: 35px;
  }
  .copyright {
    margin-top: 50px;
  }
  .feedback-closed {
    width: 27px;
    height: 27px;
  }
  /* изминение размера шрифта */
  .side-bar__section-name,
  .themes-list,
  .info-product-footer__button,
  .post-title,
  .news-list {
    font-size: 1rem;
  }
  .field-search,
  .email,
  .feedback-form {
    font-size: 0.93rem;
  }
  .news-adress,
  .news-date,
  .tags-list,
  .copyright {
    font-size: 0.85rem;
  }
  .news-text,
  .info-product-text {
    font-size: 1.07rem;
  }
  .now-trending__text {
    font-size: 1.2rem;
  }
  .feedback-form__title,
  .title {
    font-size: 1.3rem;
  }
}

/* планшет пейзажная ориентация*/

@media screen and (min-width: 900px) and (max-width: 1200px) and (orientation: landscape) {
  .now-trending__section {
    width: calc((100% - 15px) / 4);
  }
  .now-trending__section:nth-child(4n + 2),
  .now-trending__section:nth-child(4n + 1) {
    margin-bottom: 0px;
  }
}

/* разрешение - телефон */

@media screen and (max-width: 640px) {
  html {
    font-size: 87.5%;
  }
  .header {
    width: 100%;
    background-image: url(../Image/banner-mobile.jpg);
    padding: 30px 15px 210px;
    margin-bottom: 0;
  }
  .logo-image {
    width: 270px;
  }
  .header-text-content {
    width: 100%;
    line-height: 1.38;
  }
  .header-content {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
  .nav {
    display: none;
    list-style: none;
    z-index: 4;
    flex-direction: column;
    align-self: flex-start;
    width: 100vw;
    transform: translate(-15px, -51px);
    position: relative;
    padding-top: 51px;
  }
  .nav::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 2;
  }
  .nav-list {
    padding: 15px 30px;
    border-bottom: 1px solid #b59f5b;
    z-index: 4;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 0;
    width: 100%;
  }
  .button-menu_mobile-active {
    display: block;
    position: relative;
    z-index: 5;
    align-self: flex-end;
    transform: rotate(90deg);
    margin-bottom: 0;
  }
  .button-menu {
    display: block;
    position: relative;
    align-self: flex-end;
    margin-bottom: 175px;
  }
  .button-menu__row {
    background-color: #fff;
    width: 23px;
    height: 3px;
    margin-bottom: 6px;
    z-index: 5;
    position: relative;
  }
  .button-menu__row:last-child {
    margin-bottom: 0;
  }
  .header-text {
    margin-top: 32px;
  }
  .header-content {
    padding: 0;
  }
  .now-trending {
    width: 100%;
  }
  .now-trending__body {
    flex-direction: column;
  }
  .now-trending__section {
    width: 100%;
    padding: 15px;
    margin-bottom: 4px;
    min-height: 230px;
  }
  .now-trending__container {
    padding: 25px 20px;
  }
  .now-trending__section:last-child {
    margin-bottom: 0;
  }
  .title {
    padding: 40px 0 23px;
    margin-bottom: 0;
  }
  .main {
    width: 100%;
  }
  .page {
    flex-direction: column;
    width: 100%;
    margin: 45px auto 0;
  }
  .news {
    flex-direction: column;
    margin: 0 0 35px;
    padding-bottom: 21px;
    border-bottom: 3px #eeeeee solid;
  }
  .news:last-child {
    margin-bottom: 36px;
  }
  .news-image {
    width: 100%;
    margin-bottom: 10px;
  }
  .news-nav {
    margin-bottom: 9px;
  }
  .news-content {
    margin-left: 0;
  }
  .news-title {
    margin-bottom: 16px;
  }
  .news-info {
    margin-bottom: 15px;
  }
  .news-text {
    display: block;
  }
  .side-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 43px;
  }
  .side-bar__section {
    margin-bottom: 58px;
  }
  .side-bar__section:nth-child(2) {
    margin-bottom: 40px;
  }
  .side-bar__section:nth-child(3) {
    margin-bottom: 37px;
  }
  .side-bar__section:nth-child(4) {
    margin-bottom: 30px;
  }
  .side-bar__section-name {
    margin-bottom: 29px;
  }
  .post {
    margin-bottom: 19px;
  }
  .post-text {
    margin-top: -5px;
  }
  .post-date {
    margin-bottom: 4px;
  }
  .side-bar__section-name::after {
    margin-top: 6px;
  }
  .form-search {
    width: 100%;
    margin-bottom: 0;
  }
  .form-search label {
    display: flex;
  }
  .field-search {
    flex: 1 1 auto;
  }
  .email {
    margin-bottom: 14px;
  }
  .shop {
    width: 100%;
    padding-bottom: 43px;
  }
  .shop .shop__title {
    padding: 5px 0 27px;
  }
  .side-bar__section:last-child .side-bar__section-name {
    margin-bottom: 21px;
  }
  .themes-list {
    padding-top: 12px;
  }
  .shop-section {
    width: 100%;
    margin-bottom: 23px;
    margin-right: 0;
  }
  .shop-section:last-child {
    margin-bottom: 0;
  }
  .shop-section__info-product {
    max-width: 335px;
    margin-top: -33px;
    padding-bottom: 22px;
  }
  .info-product-title {
    margin-bottom: 3px;
  }
  .shop__body {
    flex-direction: column;
  }
  .footer {
    width: 100%;
    padding-bottom: 48px;
  }
  .copyright {
    margin-top: 50px;
  }
  .feedback-closed {
    width: 27px;
    height: 27px;
  }
  .feedback-container {
    max-width: 330px;
  }
  .feedback-form {
    padding: 24px 23px 27px;
  }
  .feedback-form__group:nth-child(2) {
    margin-bottom: 30px;
  }
  .feedback-form__group:nth-child(3) {
    margin-bottom: 30px;
  }
  .feedback-form__group:nth-child(4) {
    margin-bottom: 18px;
  }
  .feedback-form .title {
    padding: 0;
    margin-bottom: 25px;
  }
  .feedback-form__checkbox-text:last-child {
    margin-right: 32px;
  }
  .feedback-form__checkbox-text::before {
    width: 25px;
    height: 25px;
    background-size: cover;
  }
  .feedback-form__select {
    background-size: 8px;
  }
  /* изменение размера шрифта - телефон*/
  .header-text-content {
    font-size: 1.86rem;
  }
  .title,
  .info-product-text {
    font-size: 1.1rem;
  }
  .news-list,
  .news-text,
  .post-title,
  .button-email,
  .themes-list,
  .info-product-footer__button,
  .old-price {
    font-size: 1rem;
  }
  .now-trending__text,
  .news-title,
  .side-bar__section-name,
  .feedback-form__title {
    font-size: 1.14rem;
  }
  .news-date,
  .news-adress,
  .post-date,
  .tags-list,
  .themes-list-index,
  .copyright {
    font-size: 0.85rem;
  }
  .field-search,
  .email,
  .feedback-form {
    font-size: 0.92rem;
  }

  .new-price {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  .now-trending__body {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .now-trending__section {
    width: calc((100% - 3px) / 2);
    margin-bottom: 0;
  }
  .now-trending__section:nth-child(4n + 2),
  .now-trending__section:nth-child(4n + 1) {
    margin-bottom: 3px;
  }
}
